---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <a href="/tags/">Tags</a>
</div>

<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>

   .nav-links a {
        padding: 0.5rem 1rem;
        color: white;
        background: linear-gradient(120deg, #08538c 0%, #55e28b 100%);
        text-decoration: none;
        border-radius: .5em;
        font-size: 14px;
        margin: 0.2rem;
    }
    .nav-links a:hover{
        background: linear-gradient(120deg, #2deb99 0%, #3b8cc9 100%);
    }
</style>